p {
    font-size: 20px;
    color: white;
}
.flex-row {
    flex-direction: row;
    display: flex;
}

.flex-column {
    flex-direction: column;
    display: flex;
}

.flex-body {
    display: flex;
    justify-content: center;
}

#canvasdiv {
    background-color: black;
    margin-bottom: 10px;
    height: 600px;
}

#chatbox {
    background-color: blue;
    height: 655px;
    width: 250px;
    margin-right: 10px;
}

#infobox {
    width: 800px;
    height: 45px;
    background-color: red;
    margin-top: 0px;
}

#playerlist {
    background-color: green;
    width: 250px;
    height: 600px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#turnsremaining {
    display: flex;
    background-color: #800080;
    height: 45px;
    width: 250px;
    margin-left: 10px;
}

#turnsremainingtext {
    width: 65%;
    height: 20px;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 14px;
}

#turnsremainingval {
    width: 10%;
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
    font-variant-numeric: tabular-nums;
}

#iconcanvas {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}