html, body {
    min-height: 100%;
}

h1 {
    margin: 0;
}

body {
    background-image: url("assets/welcomebackground.jpg");
    background-size: cover;
    background-position: bottom;
    
}

/* Fonts */

@font-face {
    font-family: 'urbanist-bold';
    src: url('/assets/fonts/Urbanist-Black.ttf');
}

@font-face {
    font-family: 'urbanist';
    src: url('/assets/fonts/Urbanist-Medium.ttf');
}

/* Header */

#header{
    text-align: center;
    display: none;
}

#header h1{
    font-family: "urbanist-bold";
    font-size: 5vmin;
    color: white;
}

/* Welcome Screen */

#welcomecontainer {

}

#welcomebox {
    background-color: white;
    width: 45vmin;
    height: 30vmin;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30vmin;
    border-radius: 1.5vmin;
}

#welcometitle {
    font-family: "urbanist-bold";
    font-size: 5vmin;
}

#username {
    font-family: "urbanist";
    text-align: center;
    width: 38%;
    height: 8%;
    font-size: 2.2vmin;
}

#playbutton {
    font-family: "urbanist";
    font-size: 4vmin;
    width: 45%;
    height: 18%;
    border-radius: 7px;
    background-color: rgb(47, 120, 255);
    color: white;
    transition: 0.25s;
}

#playbutton:hover {
    background-color: rgb(107, 159, 255);
    
}

/* Room List */

#roomlistcontainer {
    display: none;
}

#roomselectcontainerinner {
    height: 600px;
    width: 650px;
    overflow: auto;
}

#roomselectcontainer p{
    color: black
}

/* */


button {
    background-color: #F6F6F6;
    cursor: pointer;  
    transition: background-color .5s; 
    text-align: center;
}

button:hover {
    background-color: #DDD;
}

.flex-row {
    flex-direction: row;
    display: flex;
}

.flex-column {
    flex-direction: column;
    display: flex;
}

.flex-body {
    display: flex;
    justify-content: center;
}

#canvasdiv {
    background-color: black;
    margin-bottom: 10px;
    height: 600px;
}

#chatbox {
    background-color: blue;
    height: 655px;
    width: 250px;
    margin-right: 10px;
}

#infobox {
    width: 800px;
    height: 45px;
    background-color: red;
    margin-top: 0px;
}

#playerlist {
    background-color: green;
    width: 250px;
    height: 600px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#turnsremaining {
    display: flex;
    background-color: #800080;
    height: 45px;
    width: 250px;
    margin-left: 10px;
}

#turnsremainingtext {
    width: 65%;
    height: 20px;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 14px;
}

#turnsremainingval {
    width: 10%;
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
    font-variant-numeric: tabular-nums;
}

#iconcanvas {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.nameplate {
    margin-top: 24px;
    margin-left: 5px;
}

#nameplatecontainer {
    padding-top: 10px;
}

#nameplatecontainer p {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

#ingamecontainer {
    display: none;
}

#ingamecontainer p {
    font-size: 20px;
    color: white;
}



.roomplate {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-top: 10px;
    width: 600px;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.roomplate img {
    height: 100px;
    width: 150px;
}

.roomplate p img {
    height: 20px;
    width: 20px;
}

#topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#createroomcontainer {
    display: none;
}

#inroomcontainer {
    display: none;
}

.colorbutton {
    height: 40px;
    width: 40px;
    margin-left: 5px;
    margin-top: 5px;
}

#colorbuttons1 {
    text-align: center;
}

#colorbuttons2 {
    text-align: center;
    margin-bottom: 30px;
}

#roominfo {
    margin-right: 80px;
}

.colorbox{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.namebox{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    height: 50px;
}

#roominfomap {
    justify-content: space-around;
}

#colorbutton1{
    background-color:#e6194B
}

#colorbutton2{
    background-color:#3cb44b
}

#colorbutton3{
    background-color:#ffe119
}

#colorbutton4{
    background-color:#42d4f4
}

#colorbutton5{
    background-color:#f58231
}

#colorbutton6{
    background-color:#911eb4
}

#colorbutton7{
    background-color:#f032e6
}

#colorbutton8{
    background-color:#9A6324
}

#colorbutton9{
    background-color:#000075
}

#endscreencontainer{
    width: 400px;
    background-color: pink;
    position: absolute;
    display: none;
    top: 250px;
    left: 50%;
    transform: translate(-50%, 0);
}

/* Footer */

#footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.507);
    color: white;
    justify-content: right;
}

#footer a {
    color:white;
    margin-right: 10px;
    font-size: 1.5vh;
    text-decoration: underline;
    cursor: pointer;
}